In [15]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [16]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
credit_df = pd.read_csv("lending_data.csv")

# Review the DataFrame
credit_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [17]:
# statistical view of data
credit_df.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804,0.032243
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077,0.176646
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000,0.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000,0.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000,0.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000,1.000000

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [18]:
# Separate the data into labels and features
# Separate the y variable, the labels
y = credit_df['loan_status']

# Separate the X variable, the features
X = credit_df.drop(columns=['loan_status'])

In [19]:
# Review the y variable Series
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [20]:
# Review the X variable DataFrame
X[:5]

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [21]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.5)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [22]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [23]:
# Make a prediction using the testing data
testing_predictions = logistic_regression_model.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [24]:
# Generate a confusion matrix for the model
testing_matrix = confusion_matrix(y_test, testing_predictions)
print(testing_matrix)

[[37311   192]
 [  120  1145]]

In [25]:
# Print the classification report for the model
testing_report = classification_report(y_test, testing_predictions)
print(testing_report)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     37503
           1       0.86      0.91      0.88      1265

    accuracy                           0.99     38768
   macro avg       0.93      0.95      0.94     38768
weighted avg       0.99      0.99      0.99     38768

### Step 4: Answer the following question.

In [26]:

testing_matrix_df = pd.DataFrame(testing_matrix, 
                                index = ['Actual Low Risk Loans(Healthy)', 
                                'Actual High Risk Loans(Non-Healthy)'], 
                                columns = ['Predicted Low Risk Loans', 'Predicted High Risk Loans']
                              )
testing_matrix_df

,Predicted Low Risk Loans,Predicted High Risk Loans
Actual Low Risk Loans(Healthy),37311,192
Actual High Risk Loans(Non-Healthy),120,1145

In [27]:
y.value_counts()

loan_status
0    75036
1     2500
Name: count, dtype: int64

In [28]:
# I ran a model to set sample size to 2500 of each of 0 and 1 - this gave 99%+ accuracy scores for each

# credit_df=pd.concat([credit_df[credit_df.loan_status==0][:2500],credit_df[credit_df.loan_status==1]])

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model seems to perform well according to the accuracy score of 99%, however this may be attributed to the data having a huge imbalance. The number of healthy, low-risk loans far outweighs the number of non-healthy, high risk loans by a ratio of ~30:1, indicating that the model would predict loan status's as healthy better than being able to predict loan status's as non-healthy.

The model gives a False Negative on 15% of all high-risk loans which may be cause for concern when determining the credit-worthiness of borrowers. After running a model to set the sample size of each loan type to 2500, the accuracy scores for each set were higher than 99%. By undersampling the majority class to balance the dataset, we improve the model's ability to learn from the minority class, which may lead to better precision, recall, and F1-score for class 1. However, it's important to note that undersampling may also lead to a loss of information from the majority class, which could impact the model's ability to generalize.

Overall, the model works relatively well, especially for low-risk loans, with high precision and recall values. However, it has a lower precision and recall for high-risk loans, indicating some room for improvement in predicting these cases. I would recommend using the model but only after ensuring that the sample size of high and low risk loans are more even. This more evenly distributed sample will lessen the chances of giving loans to individuals who would be at risk of defaulting.

---